
		<link rel="stylesheet" type="text/css" href="styles/styles.css">	
	
			
			<section id="content-view col-md-12">
				
						<div class="panel-div" style="height:88.5%">

							<!-- <div class="box">
										<div class="img_above">
											<img src="https://scontent-a.xx.fbcdn.net/hprofile-prn2/l/t1/c0.0.160.160/p160x160/1532047_786490021365276_1477668184_n.jpg"/>
											<p class="full_name">Pranav Raj S</p>
											<p class="desig">Senior UI/UX Designer</p>
											
										</div>
										<div class="white_below">
											<div class="box_cty">
												<p>India</p>
											</div>
										</div>
									</div>
						</div> -->

			</section>
			
			
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://192.168.0.212:3000/socket.io/socket.io.js"></script>
   	<script type="text/javascript">

     var socket = io.connect('http://192.168.0.212:3000/');

     socket.on('connect', function(data){

       setStatus('connected');
       socket.emit('subscribe', {channel:'realtime'});
     });

     socket.on('reconnecting', function(data){
       setStatus('reconnecting');
     });

     socket.on('message', function (data) {
       console.log('received a message: ', data);
       parseData(data);
     });

     function setStatus(msg) {
         console.log('Connection Status : ' + msg);
     }


   	</script>
   
	
	<script type="text/javascript">
	var r_data,
		barChartData = []
	
	
	function drawChart(timestamp,dataItem)
	{
		if (barChartData.length>5) {
			barChartData.shift();
		};
		barChartData.push({time : timestamp,count:dataItem});

		$("#canvas").dxChart({
		    
		    dataSource: barChartData,
		 
		    series: {
		        argumentField: "time",
		        valueField: "count",
		        name: "Count",
		        type: "bar",
		        color: '#ffa500'
		    }
		});	
	}
		var arr = new Array();
		var arr_dummy = new Array();
	function parseData(data)
	{
				arr= [];
				r_data = JSON.parse(data);
			var	count = parseInt(r_data.count),
				members = r_data.members;
			var data_ajax;
			for (var i = 0; i < members.length; i++) {
					mac_user = members[i].mac;
					rssi_user = members[i].rssi;
				console.log(i,members[i].mac,rssi_user);
					
				$.ajax({
					url:'http://localhost:1337/user/findbyMac/'+mac_user,
					type:'GET',
					async:false,
					dataType:'json',
					complete:function(){
						console.log('Query Finished');
					},
					success:function(data_ajax){
						console.log(data_ajax,rssi_user);
						arr.push(data_ajax.mac);
						var flag = arr_dummy.indexOf(data_ajax.mac);
						
						if(flag==-1)
						{
							addRow(data_ajax,rssi_user);
							display(data_ajax);
						}
						else
							arr_dummy.splice(flag,1);
					}
				});

			}

		//	drawChart(r_data.timestamp,r_data.count);
			console.log(arr_dummy);
			console.log(arr);
			for (var i = arr_dummy.length - 1; i >= 0; i--) {
					$('#div-'+arr_dummy[i]).remove();
					$('#rect-'+arr_dummy[i]).remove();
			};
			arr_dummy=[];
			arr_dummy = arr.slice(0,arr.length);
			console.log(arr_dummy);
	}
	function addRow(data,rssi)
		{	
			if(data!=null)
			{
					var batclass;
					if(r_data.batterylevel >80)
						batclass = "btn-success";
					else if(r_data.batterylevel>50)
						batclass = "btn-warning";
					else
						batclass = "btn-danger";
					console.log(data);
					$('.table').prepend(
						$('<tr class= "name-det" id ="div-'+data.mac+'"> <td>'+ data.name +'</td><td id="bat-'+data.mac+'" class="'+ batclass +'">'+r_data.batterylevel+'%</td><td id="rssi-'+data.mac+'" class="btn-success">'+rssi+'</td><td class="">'+r_data.imei+'</td></tr>').hide().fadeIn(1000)
					);	
								
			}
			setTimeout(function(){},500);
		}
	function display(data){
		$('.panel-div').prepend('<div class="box" id ="rect-'+data.mac+'">'+
						'<div class="img_above">'+
								'<img src="'+data.url+'"/>'+
								'<p class="full_name">'+data.name+'</p>'+
								'<p class="desig">'+data.empid+'</p>'+
				
						'</div>'+
						'<div class="white_below">'+
							'<div class="box_cty">'+
								'<p>EY KINFRA </p>'+
							'</div>'+
						'</div>'+
				'</div>');
      
	}	        	
    </script>

</html>

